<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Billing & Payments", plans_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <%= link_to "Usage", feature_uses_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
          <%= link_to "Transactions", transactions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "Subscription", subscriptions_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if current_user %>
            <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              <% if current_user.admin %>
                <%= link_to "Admin", rails_admin_path , class: "dropdown-item" %>
                <%= link_to "Invite", new_user_invitation_path, class: "dropdown-item" %>
                <%= link_to "Charge", overcharge_index_path, class: "dropdown-item" %>
              <% end %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>