<%= csrf_meta_tag %>
<div>
<h2><b>Plan: </b> <%= @plan.name%> </h2>
<p><b>Total Charges</b> : <%= @sub.items.data[0].price.unit_amount/100 %>$</p>
<p><b>Subscribed at : </b><%= @time_start %></p>
<p><b>Cycle Subscription :</b> <%= @time_recycle %></p>


<%= button_to 'Unsubscribe' , subscription_path(@subscription.id) , :class => 'btn btn-danger'  ,method: :delete %>
<%= link_to "Go Back",subscriptions_path, :class => 'btn btn-primary'  %>
</div>