<%= csrf_meta_tag %>
<h2> <%= @plan.name %> </h2>

<p> <%= @plan.price %>
<% @feature.each do |p, index| %>
    <br>
    <h1><%= p.name %></h1>
    
    <%= p.unit_price %>
    <%= render partial: "shared/featureuse_form", locals: {feat_use: @new_feat_use , feature: p , total: @feature.count ,index: index} %>
    <% filter_featuse = @feat_use.where(usage_id: @usage.id,feature_id: p.id) %> 
    <% del_id =  filter_featuse.last&.id %>
    <% if del_id %>
      <%= button_to'Change' , feature_use_path(del_id) , :class => 'btn btn-danger'  ,method: :delete ,remote:true %>
     <% end %>
<% end %>

<hr>

<%= link_to 'Subscribe' ,plan_checkout_index_path(@plan), :class => 'btn btn-primary', id: 'subs',method: :post  , remote: true %> 

<%= link_to "Go Back",plans_path,:class => 'btn btn-danger'  %>

<script>
document.getElementById("subs").style.display = "none";
</script>
   
     