<%= csrf_meta_tag %>
<h1> <b>Plan : </b><%= @plan.name %> </h1>

<p>Price:  <%= @plan.price %> $</p>
<h1>Features: </h1>
<% @feature.each do |p| %>
    <h5>Name : <%= p.name %></h5>
    
    <p>Price:  <%= p.unit_price %>$</p>
    <%= render partial: "shared/featureuse_form", locals: {feat_use: @new_feat_use , feature: p , total: @feature.count ,plan: @plan} %>
  
      
<% end %>

<hr>

<%= link_to 'Subscribe' ,plan_checkout_index_path(@plan), :class => 'btn btn-primary', id: 'subs',method: :post  , remote: true %> 

<%= link_to "Go Back",plans_path,:class => 'btn btn-danger'  %>

<script>
document.getElementById("subs").style.display = "none";
</script>
   
     